<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-12">
			<div class="bs-component">
				<p class="lead text-danger">Share Expense takes the trouble out of sharing expenses with friends, with roommates, with anyone.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="bs-component">
				<h1>
					<img src="img/logo_sm.png" />
				</h1>
			</div>
		</div>
		<div class="col-lg-8">
			<blockquote class="pull-right">
				<p>About Us</p>
				<small>Just learn we started this site that was simple, stable, and just works.</small> <small>We're hoping it makes your bill sharing
					easier .</small> <small>Questions? Comments? Email us at: <a>majshareexpense@gmail.com</a></small>
			</blockquote>


		</div>
	</div>
</div>
