<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{'active':isUserSelected(1) }" class="disabled" ng-repeat="userInfo in usersBillData" ng-if="userInfo.userId === loggedUser">
                        <a class="list-group-item">
                        <Strong>{{userInfo.name}}</strong><br/><span class="text-muted small"><i class="glyphicon glyphicon-envelope "></i> {{userInfo.email}}</span>
                        <span class="text-success pull-right small" ng-if="userInfo.amount < 0">Total balance <strong>{{userInfo.amount| currency}}</strong></span>
                        <span class="text-danger pull-right small" ng-if="userInfo.amount > 0">Total balance <strong>{{userInfo.amount| currency}}</strong></span></a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="userInfo in usersBillData" ng-class="{'active': isUserSelected(userInfo.userId) }"><a class="list-group-item" ng-if="userInfo.userId !== loggedUser" ng-click="userBill(userInfo.userId);">
                        <strong>{{userInfo.name}} </strong><br/>
                        <span class="text-muted small"><i class="glyphicon glyphicon-envelope"></i>  {{userInfo.email}}</span>
                        <span class="text-success pull-right small" ng-if="userInfo.amount < 0">owes you <strong>{{userInfo.amount| currency}}</strong></span>
                        <span class="text-danger pull-right small" ng-if="userInfo.amount > 0">you owe <strong>{{userInfo.amount| currency}}</strong></span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="bs-component">
                <div ui-view> </div>
            </div>
        </div>
    </div>
</div>