<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="list-group">
                    <a ng-repeat="userInfo in usersBillData" class="list-group-item">
                        <strong>{{userInfo.name}} </strong><br/>
                        <i class="glyphicon glyphicon-envelope small"></i>  {{userInfo.email}}
                        <span class="label-success badge" ng-if="userInfo.amount <= 0">{{userInfo.amount| currency}}</span>
                        <span class="label-danger badge" ng-if="userInfo.amount > 0">{{userInfo.amount| currency}}</span>
                        
                        
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="bs-component">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>