
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Friends <span class="badge">{{usersBillData.length -1}}</span>
        <a ng-click="AddFriend()" popover-trigger="mouseenter" popover="Add Friends" class="btn btn-xs btn-success pull-right">Add Friend</a></h3>
    </div>
    <div class="panel-body">

        <table class="table table-striped table-hover " id="table">
            <tbody>
                <tr ng-repeat="friend in usersBillData" ng-if="loggedUser !== friend.userId">
                    <td class="col-lg-2">{{friend.name}}</td>
                    <td class="col-lg-2">{{friend.email}}</td>
                    <td class="col-lg-4" ng-if="friend.amount <= 0">Owes you <span class="text-success" >{{friend.amount| currency}}</span></td>
                    <td class="col-lg-4" ng-if="friend.amount > 0">You owe <span class="text-danger" >{{friend.amount| currency}}</span></td>
                    <td class="text-center col-lg-1"><a class="btn btn-danger btn-xs" popover-trigger="mouseenter" popover="Delete" ng-click="removeFriend(friend.userId)" ng-if="friend.amount === 0"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
            </tbody>
        </table> 
    </div><!-- /example -->
</div>


<script type="text/ng-template" id="friendmodal.html">

    <div class="modal-body">
    <form class="form-horizontal" rc-attempted name="form" novalidate>
    <div class="form-group">
    <label class="control-label">Name</label>
    <div class="input-group required-field-block" ng-class="{'has-error': form.name.$invalid && (form.name.$dirty || rc.form.attempted)}">
    <span class="input-group-addon input-sm"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" placeholder="Name" name='name' class="form-control input-sm" ng-model="friendData.name" required>
    <div class="required-icon">
    <div class="text">*</div>
    </div>
    </div>
    </div>
    <div class="form-group">
    <label class="control-label">Email</label>
    <div class="input-group required-field-block" ng-class="{'has-error': form.email.$invalid && (form.email.$dirty || rc.form.attempted)}">
    <span class="input-group-addon input-sm"><i class="glyphicon glyphicon-envelope"></i></span>
    <input type="email" placeholder="Email" name='email' class="form-control input-sm" ng-model="friendData.email" required>
    <div class="required-icon">
    <div class="text">*</div>
    </div>
    </div>
    </div>
    </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-warning btn-xs" data-dismiss="modal" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-success btn-xs" ng-click="ok()" ng-disabled="!form.$valid">Save</button>
    </div>

</script>
