<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">{{userSelectedName}} Bills <span class="badge">{{bills.length}}</span><a href="" ng-if="usersBillData.length > 1"
                                                                                                               ng-click="addUserBill(userSelected.id)"
                                                                                                               class="pull-right">
            <span class="label label-primary">Add Bill</span>
        </a></h3>
    </div>
    <div class="panel-body">
        <div style="margin-bottom: 10px;">
            <input type="text" ng-model="searchKeyword"  id="search" value=""  class="form-control input-sm" placeholder="Search User Bills"/>
        </div>
        <div id="no-more-tables">
            <table class="col-md-12 table table-hover cf">
                <thead class="cf">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Splits</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bill in bills | filter: searchKeyword | orderBy: 'billDate' : true | offset: currentPage * itemsPerPage | limitTo: itemsPerPage" class="text-center">
                    <td data-title="Date" class="small"> {{bill.date| date: 'MMM dd, y'}}</td>
                    <td data-title="Description" class="small">{{bill.description}}</td>
                    <td data-title="Amount">{{bill.currency}}{{bill.amount|number:2}}</td>
                    <td data-title="Splits"><span ng-repeat="billdata in bill.billSplits" class="small"><Strong>
                            <span class="text text-muted" ng-if="billdata.userId !== bill.userPaid">{{billdata.name}} {{bill.currency}}{{billdata.amount|number:2}}</span>
                            <span class="text text-success" ng-if="billdata.userId === bill.userPaid">{{billdata.name}} {{bill.currency}}{{billdata.amount|number:2}}</span></Strong>
                </span></td>

                    <td data-title="Action" class="text-primary small">
                        <a href="" ng-click="editBill(bill.id, userSelected.id)" tooltip-placement="right" tooltip-html-unsafe="Edit"><span class="glyphicon glyphicon-edit" style="font-size: 1.5em"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<table class="table table-striped table-hover " id="table">
            <tbody>
            <tr ng-repeat="bill in bills | filter: searchKeyword | orderBy: 'date' : true | offset: currentPage * itemsPerPage | limitTo: itemsPerPage">
                <td class="col-lg-3 small"> {{bill.date| date: 'MMM dd, y'}}</td>
                <td class="col-lg-3 small">{{bill.description}}</td>
                <td class="col-lg-1 ">{{bill.currency}}{{bill.amount|number:2}}</td>
                <td class="col-lg-6"><span ng-repeat="billdata in bill.billSplits">
                            <span class="label label-default" ng-if="billdata.userId !== bill.userPaid">{{billdata.name}} {{bill.currency}}{{billdata.amount|number:2}}</span>
                            <span class="label label-success" ng-if="billdata.userId === bill.userPaid">{{billdata.name}} {{bill.currency}}{{billdata.amount|number:2}}</span>
                            </span>
                </td>
                <td class="text-primary pull-right small">
                    <button tooltip-placement="right" tooltip-html-unsafe="Edit" ng-click="editBill(bill.id, userSelected.id)"><i
                            class="fa fa-edit"></i></button>
                </td>
            </tr>

            </tbody>
        </table>
        <blockquote class="small" ng-repeat="bill in bills | filter: searchKeyword | orderBy: 'date' : true | offset: currentPage * itemsPerPage | limitTo: itemsPerPage">
            <p>{{bill.date| date: 'MMM dd, y'}} | <span class="label label-info">{{bill.currency}}{{bill.amount|number:2}}</span> | {{bill.description}}<button class="btn btn-warning btn-xs pull-right" ng-click="editBill(bill.id, userSelected.id)" tooltip-placement="right" tooltip-html-unsafe="Edit"><i class="fa fa-edit"></i></button></p>
            <p><span ng-repeat="billdata in bill.billSplits">
                            <span class="label label-default" ng-if="billdata.userId !== bill.userPaid">{{billdata.name}} {{bill.currency}}{{billdata.amount|number:2}}</span>
                            <span class="label label-success" ng-if="billdata.userId === bill.userPaid">{{billdata.name}} {{bill.currency}}{{billdata.amount|number:2}}</span>
                </span>
                </p>

        </blockquote>-->

        <ul class="pagination pagination-sm pull-right" ng-if="pageCount() > 1">
            <li ng-class="prevPageDisabled()">
                <a ng-click="prevPage()">«</a>
            </li>
            <li ng-repeat="n in range()"
                ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a >{{n+1}}</a>
            </li>
            <li ng-class="nextPageDisabled()">
                <a ng-click="nextPage()">»</a>
            </li>
        </ul>
    </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55417878-1', 'auto');
  ga('send', 'pageview');


</script>