<div class="bs-docs-section">
    <div class="row">
        <ul class="breadcrumb">
            <li>Share Expense Overview</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">

                <tabset justified="true">
                    <tab>
                        <tab-heading>
                            <a class="text text-success" ui-sref="billhome.list"> Bills</a>
                            <a ng-if="usersBillData.length > 1" ui-sref="billhome.add" class="text text-success pull-right" tooltip-html-unsafe="Add Bill">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a></tab-heading>

                        <div id="no-more-tables">
                            <input type="text" ng-model="searchKeyword"  id="search" value="" class="form-control input-sm" placeholder="Search Bills and Friends"/>
                            <table class="col-md-12 table table-hover cf">
                                <thead class="cf">
                                <tr>
                                    <th class="col-md-4 text-left" >Name</th>
                                    <th class="col-md-2 text-left">Owes U</th>
                                    <th class="col-md-2 text-left">U Owe</th>
                                    <th class="col-md-4 text-left">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-if="userInfo.userId === loggedUser" ng-repeat="userInfo in usersBillData | filter: searchKeyword | orderBy: 'userInfo.name'" ng-class="{'active': isUserSelected(userInfo.userId) }" ng-click="userBill(userInfo.userId);">
                                    <td data-title="Name" class="small">{{userInfo.name}}</td>
                                    <td data-title="Owes You " class="small">
                                        <span class="text text-success" ng-repeat='mapEntry in userInfo.amtCurrs' ng-if="mapEntry.amountStatus === 'D'">
                                            <strong>{{mapEntry.currency}}{{mapEntry.amount|number:2}}</strong>
                                        </span>
                                    </td>
                                    <td data-title="You Owe" class="small">
                                        <span class="text text-danger" ng-repeat='mapEntry in userInfo.amtCurrs' ng-if="mapEntry.amountStatus === 'C'">
                                            <strong>{{mapEntry.currency}}{{mapEntry.amount|number:2}}</strong>
                                        </span>
                                    </td>
                                    <td data-title="Action" class="small">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr ng-if="userInfo.userId != loggedUser" ng-repeat="userInfo in usersBillData | filter: searchKeyword | orderBy: 'userInfo.name'" ng-class="{'active': isUserSelected(userInfo.userId) }" ng-click="userBill(userInfo.userId);">
                                    <td data-title="Name" class="small">{{userInfo.name}}</td>
                                    <td data-title="Owes You " class="small">
                                        <span class="text text-success" ng-repeat='mapEntry1 in userInfo.amtCurrs' ng-if="mapEntry1.amountStatus === 'D'">
                                            <strong>{{mapEntry1.currency}}{{mapEntry1.amount|number:2}}</strong>
                                        </span>
                                    </td>
                                    <td data-title="You Owe" class="small">
                                        <span class="text text-danger" ng-repeat='mapEntry1 in userInfo.amtCurrs' ng-if="mapEntry1.amountStatus === 'C'">
                                            <strong>{{mapEntry1.currency}}{{mapEntry1.amount|number:2}}</strong>
                                        </span>
                                    </td>
                                    <td data-title="Action" class="small">
                                        <span ng-if="userInfo.amtCurrs.length > 0">
							                <a class="label label-primary" tooltip-placement="left" tooltip-html-unsafe="Reminder" ng-click="reminderFn(userInfo.userId, loggedUser, userInfo.amtCurrs)">
                                                <span class="glyphicon glyphicon-bell"></span>
                                            </a>
							                <a tooltip-placement="right" tooltip-html-unsafe="Settle" ng-click="settleUpFn(userInfo.userId, loggedUser, userInfo.amtCurrs)"><span class="label label-primary small">Settle</span>
                                            </a>
						                </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading >
                            <a class="text text-success" ui-sref="billhome.list">Groups</a>
                            <a class="text text-success pull-right" ui-sref="billhome.groupadd" tooltip-html-unsafe="Add Group"><span class="glyphicon glyphicon-plus"></span></a>
                        </tab-heading>
                        <input type="text" ng-model="searchKeyword"  value="" class="form-control input-sm" placeholder="Search Groups"/>
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="group in groupList | filter: searchKeyword | orderBy: 'group.groupName'" ng-class="{'active': isGroupSelected(group.id) }"><a class="list-group-item"
                                                                                                                    ng-click="getGroupBills(group.id)">
                                <strong>{{group.groupName}} </strong><span class="text-muted pull-right small">{{group.userIds.length}}
								persons</span> <br/> <span class="text-muted small"><i class="fa fa-envelope"></i> By {{group.email}} </span> <br/>
						<span class="small"><span class="text-muted">Created on {{group.createDate | date: 'mediumdate'}}</span>


                                <button class="pull-right" tooltip-placement="right" tooltip-html-unsafe="Edit Group" ng-click="editGroup(group.id)">
                                    <span class="glyphicon glyphicon-edit" ></span>
                                </button></span>
                            </a></li>
                        </ul>
                    </tab>
                    <tab>
                        <tab-heading>
                            <a class="text text-success" ui-sref="billhome.list">Friends</a>
                            <a class="text text-success pull-right" ng-click="AddFriend()" tooltip-html-unsafe="Add Friends"><span class="glyphicon glyphicon-plus"></span></a>
                        </tab-heading>
                        <input type="text" ng-model="searchKeyword"  value="" class="form-control input-sm" placeholder="Search Friends"/>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="list-group-item" ng-repeat="friend in usersBillData | filter: searchKeyword | orderBy: 'friend.name'" ng-if="loggedUser !== friend.userId"><strong>{{friend.name}} </strong>

                                <span ng-if='friend.amtCurrs.length === 0' class="label label-success pull-right"><strong>0.00</strong></span>
                                <span class="pull-right label label-success" ng-repeat='mapEntry2 in friend.amtCurrs'
                                      ng-if="mapEntry2.amountStatus === 'D'"><strong>{{mapEntry2.currency}}{{mapEntry2.amount|number:2}}</strong></span>
                                <span class="pull-right label label-danger" ng-repeat='mapEntry2 in friend.amtCurrs'
                                      ng-if="mapEntry2.amountStatus === 'C'"><strong>{{mapEntry2.currency}}{{mapEntry2.amount|number:2}}</strong></span>

                                </br/><span class="small"> <span class="text-muted"><i class="fa fa-envelope"></i> {{friend.email}}</span></span>
                                <button class="text-primary small pull-right" tooltip-placement="right" tooltip-html-unsafe="Delete"
                                        ng-click="removeFriend(friend.userId)"
                                        ng-if="userInfo.keyValues.length === 0">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </li>
                        </ul>
                    </tab>
                </tabset>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="bs-component">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>

<script>
    (function(i, s, o, g, r, a, m) {
	i['GoogleAnalyticsObject'] = r;
	i[r] = i[r] || function() {
	    (i[r].q = i[r].q || []).push(arguments)
	}, i[r].l = 1 * new Date();
	a = s.createElement(o), m = s.getElementsByTagName(o)[0];
	a.async = 1;
	a.src = g;
	m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55417878-1', 'auto');
    ga('send', 'pageview');

</script>

<script type="text/ng-template" id="friendmodal.html">

    <div class="modal-body">
        <form class="form-horizontal" rc-attempted name="form" novalidate>
            <div class="form-group">
                <label class="control-label">Name <span class="text-danger"> *</span></label>

                <div class="input-group required-field-block">
                    <span class="input-group-addon input-sm"><i class="fa fa-user"></i></span>
                    <input type="text" placeholder="Name" name='uName' class="form-control input-sm" ng-model="friendData.name" required
                           ng-pattern="avoidSpecialChar">

                </div>
                <p class="help-block" ng-show="(form.uName.$dirty || rc.form.attempted) && form.uName.$invalid" ng-if="form.uName.$error.required">Name is required.</p>
                <p class="help-block" ng-show="(form.uName.$dirty || rc.form.attempted) && form.uName.$invalid" ng-if="form.uName.$error.pattern">This is not a valid Name. Please remove any special characters.</p>
            </div>
            <div class="form-group">
                <label class="control-label">Email <span class="text-danger"> *</span></label>

                <div class="input-group required-field-block">
                    <span class="input-group-addon input-sm"><i class="fa fa-envelope-o"></i></span>
                    <input type="email" placeholder="Email" name='uEmail' class="form-control input-sm" ng-model="friendData.email" required>


                </div>
                <p class="help-block" ng-show="(form.uEmail.$dirty || rc.form.attempted) && form.uEmail.$invalid" ng-if="form.uEmail.$error.required">Email is required.</p>
                <p class="help-block" ng-show="(form.uEmail.$dirty || rc.form.attempted) && form.uEmail.$invalid" ng-if="form.uEmail.$error.email">This is not a valid email.</p>
            </div>
            <div class="button-footer">
                <button type="button" class="btn btn-warning btn-xs pull-right" data-dismiss="modal" ng-click="cancel()">Close</button>
                <span class="pull-right">&nbsp;</span>
                <button type="button" class="btn btn-success btn-xs" ng-click="ok()" ng-disabled="!form.$valid">Save</button>
            </div>
        </form>
    </div>


</script>


<script type="text/ng-template" id="settlemodal.html">

    <div class="modal-body">
        <form class="form-horizontal" rc-attempted name="form" novalidate>
            <div class="form-group">
                <label class="control-label">Settle Up Amount <span class="text-danger"> *</span></label>
                </br/>
                <div class="input-group" ng-repeat="amtCurr in settleData.amtCurrs">
                    <span class="input-group-addon input-sm text-danger"><input type="checkbox" name="selected"
                                                                                ng-click="updateSettleSelection($event, amtCurr)">&nbsp;&nbsp;&nbsp;{{amtCurr.currency}}</span>
                    <input type="number" placeholder="Amount" name='uBillAmount' class="form-control input-sm" ng-model="amtCurr.amount" required>
                    <input type="hidden" ng-model="amtCurr.amountStatus">
                </div>
                <input type="hidden" ng-model="settleData.userId">
                <input type="hidden" ng-model="settleData.amtCurrUpdated">
                <input type="hidden" ng-model="settleData.loggedUser">

                <p class="help-block" ng-show="(form.uBillamt.$dirty || rc.form.attempted) && form.uBillamt.$invalid" ng-if="form.uBillamt.$error.required">Bill Amount is required.</p>
                <p class="help-block" ng-show="(form.uBillamt.$dirty || rc.form.attempted) && form.uBillamt.$invalid" ng-if="form.uBillamt.$error.number">This is not a valid Amount.</p>

            </div>
            <div class="button-footer">
                <button type="button" class="btn btn-warning btn-xs pull-right" data-dismiss="modal" ng-click="cancel()">Close</button>
                <span class="pull-right">&nbsp;</span>
                <button type="button" class="btn btn-success btn-xs" ng-click="ok()" ng-disabled="!form.$valid">Save</button>
            </div>
        </form>
    </div>


</script>