<div class="modal-header">
    <h3>{{modalOptions.headerText}}</h3>
    <h3>{{modalOptions.data().name}}</h3>
</div>
<form ng-submit="modalOptions.submit(mydata)">
    <div class="modal-body">
        <label>Name</label>
        <input type="text" data-ng-model="mydata.name" value="{{modalOptions.data().name}}">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
        <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    </div>

    <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
            <ul>
            <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
            </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <button class="btn btn-default" ng-click="open()">Open me!</button>
        <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <div ng-show="selected">Selection from a modal: {{ selected}}</div>
    </div>