<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Group</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="form" rc-attempt novalidate>
            <div class="form-group">
                <div class="form-group  col-lg-6">
                    <label class="control-label">Name <span class="text-danger"> *</span></label>
                    <input type="text" ng-model="shareGroup.groupName" name="uGroupname" class="form-control input-sm" placeholder="Group Name"
                           required ng-pattern="avoidSpecialChar">
                    <input type="hidden" ng-model="shareGroup.id" name="groupid" class="form-control input-sm" placeholder="Group Id">
                    <input type="hidden" ng-model="shareGroup.userId" name="groupid" class="form-control input-sm" placeholder="Group User Id">
                    <input type="hidden" ng-model="shareGroup.email" name="groupid" class="form-control input-sm" placeholder="Group email">

                    <p class="help-block" ng-show="(form.uGroupname.$dirty || rc.form.attempted) && form.uGroupname.$invalid" ng-if="form.uGroupname.$error.required">GroupName is required.</p>
                    <p class="help-block" ng-show="(form.uGroupname.$dirty || rc.form.attempted) && form.uGroupname.$invalid" ng-if="form.uGroupname.$error.pattern">This is not a valid GroupName. Please remove any special characters.</p>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <div class="form-inline">
                    <label class="col-lg-6 checkbox-inline" ng-repeat="friend in usersBillData">
                        <input type="checkbox" name="selected" ng-disabled="friend.userId === loggedUser"
                               ng-checked="isSelected(friend.userId)"
                               ng-click="updateSelection($event, friend.userId)" required>
                        {{friend.name}}
                    </label>

                </div>
            </div>
            <div class="button-footer text-right">
                <button class="btn btn-success btn-sm" ng-disabled="!form.$valid" ng-click="saveGroup(shareGroup)">Save</button>
                <span>   </span><a ui-sref="billhome.list">
                <button class="btn btn-warning btn-sm right">Cancel</button>
            </a></div>
        </form>
    </div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55417878-1', 'auto');
  ga('send', 'pageview');


</script>