<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add Group Bill</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="form" novalidate rc-attempt>
            <div class="form-group">
                <div class="form-group col-lg-6" ng-class="{'has-error': form.billdate.$invalid && (form.billdate.$dirty || rc.form.attempted)}">
                    <label class="control-label">Bill Date</label>
                    <p class="input-group">
                        <input type="text" class="form-control input-sm" name="billdate" placeholder="Bill Date" datepicker-popup="{{'MM/dd/yyyy'}}" ng-model="bill.date" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-sm" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                
                <div class="form-group col-lg-6">
                    <label class="control-label">Description</label>
                    <input type="text" ng-model="bill.description" class="form-control input-sm" placeholder="Description">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group col-lg-6">
                    <label class="control-label">Category</label>
                    <input type="text" ng-model="bill.category" class="form-control input-sm" placeholder="Category">
                </div>
                <div class="form-group col-lg-6" ng-class="{'has-error': form.billamt.$invalid && (form.billamt.$dirty || rc.form.attempted)}">
                    <label class="control-label">Amount</label>
                    <input type="number" ng-model="bill.amount" class="form-control input-sm" name="billamt" placeholder="Bill Amount" ng-change="billAmountChng()" required>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">Who Paid?</label>
                <div class="form-inline">
                    <label class="col-lg-4 radio-inline" ng-repeat="billsplit in addBillSplits">
                        <input type="radio" ng-model="bill.userPaid" value="{{billsplit.userId}} " ng-change="billAmountChng()" required>
                        {{billsplit.name}}
                    </label>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">Split</label>
                <div class="form-inline">
                    <label class="col-lg-4 radio-inline">
                        <input type="radio" ng-model="bill.splitType" value="equally" ng-change="billAmountChng()" required>
                        By Equally
                    </label>
                    <label class="col-lg-4 radio-inline">
                        <input type="radio" ng-model="bill.splitType" value="exact" ng-change="billAmountChng()" required>
                        By Exact
                    </label>
                    <label class="col-lg-4 radio-inline">
                        <input type="radio" ng-model="bill.splitType" value="share" ng-change="billAmountChng()" required>
                        By Share
                    </label>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">To Whom?</label>
               
                <div class="form-inline">
                    <label class="col-lg-6 checkbox-inline" ng-repeat="billsplit in addBillSplits">
                        <input type="checkbox" name="selected"
                               ng-modal="selected.checked"
                               ng-checked="isSelected(billsplit)"
                               ng-click="updateSelection($event, billsplit)" ng-required="isOneSelected()">
                        {{billsplit.name}} <span class="text-danger small" ng-if="billsplit.amount < 0">{{billsplit.amount| currency}}</span><span class="text-success small" ng-if="billsplit.amount >= 0">{{billsplit.amount| currency}}</span>
                        <input type="number" ng-model="billsplit.splitText" class="input-xsm" ng-if="bill.splitType !== 'equally'" ng-change="billAmountChng()">
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer text-right"><a class="btn btn-success btn-sm" ng-disabled="form.$invalid || isOneSelected()" ng-click="saveBill(bill)">Save</a><span>   </span><a ui-sref="billhome.list" class="btn btn-warning btn-sm right">Cancel</a></div>
</div>