<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Group Bills <span class="badge">{{groupBillsData.length}}</span>
            <button ng-click="addGroupBill(groupId)" tooltip-html-unsafe="Add Group Bill" class="pull-right">
                <span class="text-primary">Add Group Bill</span></button>
        </h3>
    </div>
    <div class="panel-body">
        <div style="margin-bottom: 10px;">
            <input type="text" ng-model="searchKeyword"  id="search" value=""  class="form-control input-sm" placeholder="Search using Fuzzy searching"/>
        </div>
        <table class="table table-striped table-hover " id="table">
            <tbody>
            <tr ng-repeat="bill in groupBillsData | filter: searchKeyword | orderBy: 'date' : true | offset: currentPage * itemsPerPage | limitTo: itemsPerPage" >
                <td class="col-lg-2 small"> {{bill.date| date: 'MMM dd, y'}}</td>
                <td class="col-lg-3 small">{{bill.description}}</td>
                <td class="col-lg-1">{{bill.currency}}{{bill.amount|number:2}}</td>
                <td class="col-lg-6"><span ng-repeat="billdata in bill.billSplits">
                            <span class="label label-default " ng-if="billdata.userId !== bill.userPaid">{{billdata.name}} {{bill.currency}}{{billdata.amount|number:2}}</span>
                            <span class="label label-success " ng-if="billdata.userId === bill.userPaid">{{billdata.name}} {{bill.currency}}{{billdate.amount|number:2}}</span>
                            </span>
                </td>
                <td class="text-primary pull-right small">
                    <button tooltip-placement="right" tooltip-html-unsafe="Edit Bill" ng-click="editGroupBill(bill.id)"><i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination pagination-sm pull-right" ng-if="pageCount() > 1">
            <li ng-class="prevPageDisabled()">
                <a ng-click="prevPage()">«</a>
            </li>
            <li ng-repeat="n in range()"
                ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a >{{n+1}}</a>
            </li>
            <li ng-class="nextPageDisabled()">
                <a ng-click="nextPage()">»</a>
            </li>
        </ul>
    </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55417878-1', 'auto');
  ga('send', 'pageview');


</script>