<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
                <p class="lead text-danger">Share Expense takes the trouble out of sharing expenses with friends, with roommates, with anyone.</p>
            </div>
        </div>
    </div> 	
    <div class="row">
        <div class="col-lg-6">
            <img src="img/logo.png"/>
        </div>
        <div class="col-lg-6">
            <div ui-view> 
                <div class='row' ng-if="!loggedIn" >
                    <blockquote class="pull-right">
                        <p>It's easy to start sharing right away.</p>
                        <small>Introduce yourself &nbsp;&nbsp;&nbsp;<a ui-sref="home.signup" class="btn btn-success btn-xs" popover-trigger="mouseenter" popover="Register" popover-placement="bottom">Sign Up</a></small>
                    </blockquote>
                </div>
                <div class='row' ng-if="loggedIn" >
                    <p>&nbsp;<br/>&nbsp;</p>
                </div>
                <div class='row'>
                    <blockquote>
                        <p>How does it work?</p>
                        <small>You share bills with your friends and roommates</small>
                        <small>Tracks what they owe you</small>
                        <small>Your friends pay you back</small>
                        <small>Takes it off their total</small>
                        <small>You get peace of mind</small>
                    </blockquote>
                    <blockquote class="pull-right">
                        <p>Friends not on Share Expense yet?</p>
                        <small>You can send a bill to anyone with an email address.</small>
                        <small>They will still see your bills when they sign up.</small>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>