<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
                   <h3>Share Expense takes the trouble out of sharing expenses – with friends, with roommates, with anyone.</h3>
            </div>
        </div>
    </div> 	
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <h1><img src="img/logo.png"/></h1>
            </div>
        </div>
        <div class="col-lg-6">
            <div ui-view> 
                <blockquote class="pull-right">
                    <p>How does it work?</p>
                    <small>You share bills with your friends and roommates</small>
                    <small>Tracks what they owe you</small>
                    <small>Your friends pay you back</small>
                    <small>Takes it off their total</small>
                    <small>You get peace of mind</small>
                </blockquote>
                <blockquote class="pull-right">
                    <p>It's easy to start sharing right away.</p>
                    <small>Friends not on Dividely yet?</small>
                    <small>You can send a bill to anyone with an email address.</small>
                    <small>They will still see your bills when they sign up.</small>
                </blockquote>
                
            </div>
        </div>
    </div>
</div>