<!--Container row-->
<div class="span3 sidebar page-left-sidebar">
    <!-- Begin sidebar column -->
</div>
<!-- Page Content -->
<form name="form">
    <div class="span6 well">
        <!--Begin page content column-->

        <!--User Login-->
        <h5 class="title-bg">Register</h5>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input type="hidden" ng-model="user.id">
            <input class="span4" id="prependedInput" size="16" type="text" placeholder="Name" ng-model="user.name" ng-class="{error: form.UserServices.$invalid}">
        </div>
        <div class="input-prepend center">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input class="span4" id="prependedInput" size="16" type="email" placeholder="Email Address" ng-model="user.email" ng-class="{error: form.UserServices.$invalid}">
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span><input
                class="span4" id="appendedPrependedInput" size="16" type="password"
                placeholder="Password" ng-model="user.password" ng-class="{error: form.UserServices.$invalid}">
        </div>
        <button class="btn btn-success btn-small" ng-click="registerUser(user)">Register</button>

    </div>
</form>
<!--End page content column-->
<div class="span3 sidebar page-right-sidebar">
    <!-- Begin sidebar column -->
</div>
