<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-12">
			<div class="bs-component">
				<p class="lead text-danger">Share Expense takes the trouble out of sharing expenses with friends, with roommates, with anyone.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="bs-component">
				<h1>
					<img src="img/logo_sm.png" />
				</h1>
			</div>
		</div>
		<div class="col-lg-8">
			<blockquote  class="pull-right">
				<p>Terms and Conditions</p>
				<small>Share Expense provides the ability for you, your friends and roommates to track how much money you owe each other. </small>
				<small>By using Share Expense, you agree to be bound by these Terms of Use.</small>
				<small>Use of Share Expense by anyone under age 13 is prohibited.</small>
				<small>You are responsible for all activity that occurs under your account.</small>
				<small>you agree not to share your private account credentials with
					anyone else.</small>
				<small>Share Expense may use your email address to send you notifications of activity in your account.</small>
				<small>Agree not to use Share Expense for any illegal activities.</small>
				<small>Share Expense reserves all rights to text, graphics, intellectual property, and all other material present on this site.</small>
				<small>Use of Share Expense service is at your own risk.</small>
				<small>Please contact <a>majshareexpense@gmail.com</a> with any questions about this Agreement.</small>
			</blockquote>


		</div>
	</div>
</div>
				
