<div class="bs-docs-section">
    <div class="row">
        <ul class="breadcrumb">
            <li>Track Expenses</li>
        </ul>
    </div>
    <div class="row">
        <accordion close-others="true">
            <accordion-group class="panel-success" is-open="status.isSummaryOpen">
                <accordion-heading>Year Summary<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isSummaryOpen, 'glyphicon-chevron-right': !status.isSummaryOpen}"></i></accordion-heading>
                <div id="no-more-tables">
                    <table class="table text-center table-bordered table-hover cf">
                        <thead class="cf">
                        <tr>
                            <th data-title="Month">{{currentYear}}</th>
                            <th data-title="Month" ng-repeat="month in months">{{month.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td data-title="Income">Income</td>
                            <td data-title="rowData.month" ng-repeat="rowData in yearSummaryData">{{rowData.incomeAmount}}</td>
                        </tr>
                        <tr>
                            <td data-title="Spending">Spending</td>
                            <td data-title="rowData.month" ng-repeat="rowData in yearSummaryData">{{rowData.expenseAmount}}</td>
                        </tr>
                        <tr>
                            <td data-title="Saving">Saving</td>
                            <td data-title="rowData.month" ng-repeat="rowData in yearSummaryData"><Strong>
                                <span ng-if="rowData.savingAmount < 0" class="text text-danger">{{rowData.savingAmount}}</span>
                                <span ng-if="rowData.savingAmount >= 0" class="text text-success">{{rowData.savingAmount}}</span></Strong>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <tabset justified="true">
                <tab>
                    <tab-heading><a class="text text-success" ng-click="getExpenseCurrent()"> Expenses</a></tab-heading>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-6 control-label">Expense Date <span class="text-danger"> *</span></label>

                                    <div class="col-lg-6">
                                        <input type="text" datepickerse ng-model="expense.expenseDate1" class="form-control input-sm"
                                               placeholder="Expense Date" name="uExpensedate" ng-change="getExpense(expense.expenseDate1)"/>
                                    </div>
                                </div>
                                <input type="hidden" value="{{expense.userId}}"/>

                                <div class="form-group" ng-repeat="category in expense.categories">
                                    <label class="col-lg-8 control-label">{{category.key}}</label>
                                    <input type="hidden" value="{{category.id}}"/>

                                    <div class="col-lg-4">
                                        <input type="text" class="form-control input-sm" ng-model="category.value2" placeholder="0.0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-xs" ng-click="saveExpense(expense)">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading><a class="text text-success" ng-click="getCategory()"> Category</a></tab-heading>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" ng-model="addCate.category" class="form-control input-sm" name="uCategory"
                                           placeholder="Add Category" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-sm" type="button" ng-click="addCategory(addCate)">Add</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="singleCategory in categories">
                            {{singleCategory.category}}
                        </li>
                    </ul>

                </tab>
                <tab>
                    <tab-heading><a class="text text-success" ng-click="getBudget()"> Budget</a></tab-heading>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <input type="hidden" value="{{budget.userId}}"/>

                                <div class="form-group" ng-repeat="category in budget.categories">
                                    <label class="col-lg-8 control-label">{{category.key}}</label>
                                    <input type="hidden" value="{{category.id}}"/>

                                    <div class="col-lg-4">
                                        <input type="text" class="form-control input-sm" ng-model="category.value2" placeholder="0.0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-xs" ng-click="saveBudget(budget)">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </tab>

                <tab>
                    <tab-heading><a class="text text-success" ng-click="getAllIncome()"> Income</a></tab-heading>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-6 control-label">Income Date <span class="text-danger"> *</span></label>

                                    <div class="col-lg-6">
                                        <input type="text" datepickerse ng-model="income.incomeDate1" class="form-control input-sm"
                                               placeholder="Expense Date" name="uIncomedate" ng-change="getIncome(income.incomeDate1)"/>
                                    </div>
                                </div>
                                <input type="hidden" value="{{income.userId}}"/>

                                <div class="form-group">
                                    <label class="col-lg-8 control-label">Income Amount <span class="text-danger"> *</span></label>

                                    <div class="col-lg-4">
                                        <input type="text" class="form-control input-sm" ng-model="income.incomeAmount" placeholder="0.0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-xs" ng-click="saveIncome(income)">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="no-more-tables1">
                        <table class="table text-center table-hover cf">
                            <tbody>
                            <tr ng-repeat="income in allIncomes">
                                <td data-title="Date">{{income.incomeDate1}}</td>
                                <td data-title="Amount">{{income.incomeAmount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="btn-group">
                        <div class="col-lg-2">
                            <input type="text" ng-model="track.year" class="form-control input-sm" name="uYear" ng-change="functionGetExpenses()"/>
                        </div>
                        <label class="btn btn-primary btn-sm" ng-repeat="month in months" ng-model="track.month" btn-radio="'{{month.mm}}'"
                               ng-click="functionMonthExpenses(month.mm)">{{month.name}}</label>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <accordion close-others="true">
                        <accordion-group class="panel-success" is-open="status.isFirstOpen">
                            <accordion-heading>Expenses<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i></accordion-heading>

                            <input type="text" ng-model="searchKeyword" value="" class="form-control input-sm" placeholder="Search Expenses"/>

                            <div id="no-more-tables2">
                                <table class="table text-center table-bordered table-hover cf">
                                    <tbody>
                                    <tr ng-repeat="expense in allExpenses | filter: searchKeyword | orderBy: 'expense.expenseDate1'">
                                        <td data-title="Date">{{expense.expenseDate1}}</td>
                                        <td data-title="Category">
                                            <ul class="inlinelist">
                                                <li ng-repeat="category in expense.categories">{{category.key}}:
                                                    {{category.value2}}
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </accordion-group>
                        <accordion-group class="panel-success" is-open="status.open">
                            <accordion-heading>Expenses By Category<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></accordion-heading>
                            <div id="no-more-tables3">
                                <table class="table text-center table-bordered table-hover cf">
                                    <thead class="cf">
                                    <tr>
                                        <th>Category</th>
                                        <th>Progress</th>
                                        <th>Spending Amount</th>
                                        <th>Budget Amount</th>
                                        <th>Difference</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="expense1 in expensesByCategory">
                                        <td data-title="Category">{{expense1.category}}</td>
                                        <td data-title="Progress">
                                            <progressbar class="progress" animate="false" max="expense1.expenseAmount" value="expense1.budgetAmount"
                                                         type="success"><i>{{expense1.expenseAmount}} / {{expense1.budgetAmount}}</i></progressbar>
                                        </td>
                                        <td data-title="Spending">{{expense1.expenseAmount}}</td>
                                        <td data-title="Budget">{{expense1.budgetAmount}}</td>
                                        <td data-title="Difference"><span ng-if="expense1.diffAmount < 0" class="text text-danger">{{expense1.diffAmount}}</span>
                                            <span ng-if="expense1.diffAmount >= 0" class="text text-success">{{expense1.diffAmount}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55417878-1', 'auto');
  ga('send', 'pageview');

















</script>