<div class="row">
    <div class="bs-component">
        <ul class="breadcrumb text-right">
            <li><a ui-sref="userhome.add">ADD</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="bs-component">
        <table class="table table-striped table-hover " id="table" ng-show="bills.length">
            <tbody>
                <tr ng-animate="'animate'" ng-repeat="bill in bills">
                    <td class="col-lg-1">{{bill.date}}</td>
                    <td class="col-lg-2">{{bill.description}}</td>
                    <td class="col-lg-1">{{bill.amount}}</td>
                    <td class="col-lg-7">
                        <span ng-repeat="billdata in bill.billSplits">
                            <span class="label label-default" ng-if="billdata.userId !== bill.userPaid">{{billdata.name}}</span>
<span class="label label-success" ng-if="billdata.userId === bill.userPaid">{{billdata.name}}</span></span>
                    </td>
                    <td class="text-center col-lg-1"><a class="btn btn-warning btn-xs" ng-click="EditFriend(bill)"><i class="glyphicon glyphicon-edit"></i></a></td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>
