<!DOCTYPE html>
<html ng-app="ShareExpApp">
    <head>
        <title>Share Expenses</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/loading-bar.css">
        <link rel="stylesheet" href="css/flexslider.css">
        <link rel="stylesheet" href="css/prettyPhoto.css">
        <link rel="stylesheet" href="css/jquery.lightbox-0.5.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <!--[if lt IE 9]>
            <script src="assets/html5.js"></script>
            <link rel="stylesheet" href="css/style-ie.css"/>
        <![endif]-->

        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

        <!-- JS  -->
        <script src="assets/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap.js"></script>
        <script src="assets/jquery.custom.js"></script>
        <script src="assets/jquery.flexslider.js"></script>
        <script src="assets/jquery.prettyPhoto.js"></script>
        <script src="assets/jquery.easing.1.3.js"></script>
        <script src="assets/jquery.quicksand.js"></script>
        <script src="assets/TweenMax.min.js"></script>

        <script src="assets/angular.js"></script>
        <script src="assets/angular-resource.min.js"></script>
        <script src="assets/angular-route.min.js"></script>
        <script src="assets/angular-messages.min.js"></script>
        <script src="assets/angular-animate.min.js"></script>
        <script src="assets/angular-cookies.min.js"></script>
        <script src="assets/angular-loader.min.js"></script>
        <script src="assets/angular-sanitize.min.js"></script>
        <script src="assets/angular-touch.min.js"></script>
        <script src="assets/angular-ui-router.js"></script>
        <script src="assets/underscore.js"></script>
        <script src="assets/loading-bar.js"></script>
        <script src="assets/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="assets/jquery.searchable-1.1.0.min.js"></script>
        <script src="assets/jquery.searchable-ie-1.1.0.min.js"></script>

        <!-- Application Javascript Files -->
        <script src="js/app.js"></script>

        <script src="js/HomeController.js"></script>
        <script src="js/FriendController.js"></script>
        <script src="js/LoginController.js"></script>
        <script src="js/GroupController.js"></script>
        <script src="js/BillController.js"></script>

        <script src="js/BillServices.js"></script>
        <script src="js/GroupServices.js"></script>
        <script src="js/LoginServices.js"></script>
        <script src="js/HomeServices.js"></script>
        <script src="js/FriendServices.js"></script>

        <script src="js/checklist-model.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/custom.js"></script>
    </head>
    <body ng-controller="IndexController">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand span6 right" ui-sref="home">SHARE EXPENSE</a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav navbar-right span6" ng-if="loggedIn">
                        <li><form class="navbar-form navbar-left" role="search"><a class="btn btn-warning btn-sm" ui-sref="billhome.list">Bills</a>
                                <a class="btn btn-warning btn-sm" ui-sref="billhome.friends">Friends</a>
                                <a class="btn btn-warning btn-sm" ui-sref="billhome.grouplist">Group</a>
                                <a class="btn btn-warning btn-sm" ui-sref="about">About Us</a>
                                <a class="btn btn-warning btn-sm" href="" ng-click="userLogout()"><i class="glyphicon glyphicon-log-out"></i></a></form></li>
                                <li><a ui-sref="account" class="navbar-brand" ><small> {{loggedUserName}}  <i class="fa fa-smile-o"></i></small></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="page-header col-lg-12"><span class="alert" ng-class="msgType" ng-if="flash">{{flash}}</span>&nbsp;</div>
            
            <input type="hidden" ng-model="loggedUser" value="{{loggedUser}}"/>
            
            <div ui-view></div>
        </div>

    </body>
</html>
